
body {
    display: flex;
    flex-direction: column;
  }

  .main-content {
    display: flex;
    margin-top: 100px;
    gap: 20px;
    padding: 20px;
  }

  #toolbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 12px;
    border: 2px solid #848484;
    padding: 16px;
    width: auto;
    max-width: 200px;
    max-height: 800px;
    overflow: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
  }

  #toolbox img {
    width: 48px;
    height: 48px;
    cursor: grab;
  }

  #container {
    position: relative;
    display: inline-block;
  }

  #mainImage {
    display: block;
    max-width: 800px;
    user-select: none;
  }

  .dropped-icon {
    position: absolute;
    width: 48px;
    height: 48px;
    cursor: grab;
    pointer-events: auto;
  }

  #scoreboard {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
  }
  .zone {
    position: absolute;
    border: .5px dashed rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.10);
    pointer-events: none;
  }

  .zone-dot {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 6px;
    background-color: blue;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .button {
    margin-top: 20px;
    padding: .5rem 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.2s;
  }
  .button:hover {
    background-color: white;
    color: black;
  }