.quiz-container {
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 0 10px;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
